@import '../../constants.scss';

#Header {
  height: $headerHeight;
  padding: 0 10px;
  box-shadow: 0 -1px 0 0 $uiSeparatorColor inset;
  user-select: none;
  -webkit-app-region: drag;

  h1 {
    margin: 0;
    padding: 0;
    height: $headerHeight;
    line-height: $headerHeight;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
  }
}
